/*CSS reset settings here*/

* {
    padding: 0px;
    margin: 0px;
}

.header {
    background-color: #b3b3b3;
    border: 1px solid coral;
    margin: 6px 0px;
}

.main {
    background-color: #cccccc;
    border: 1px solid coral;
    margin-top: 6px;
}

#footer {
    background-color: #ffff9a;
    border: 1px solid coral;
    margin-top: 6px;
}

span {
    font-weight: bold;
}

@media only screen and (max-width: 480px) {
    .tablet {
        display: none;
    }
    .desktop {
        display: none;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1023px) {
    .phone {
        display: none;
    }
    .desktop {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    .phone {
        display: none;
    }
    .tablet {
        display: none;
    }
}